// Import page-specific CSS files here.
@import "home";
@import "rick";

#title_row {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  #title_row {
    flex-direction: column;
  }
}

#poster {
  margin: 40px;
}

#poster_text {
  margin: 40px;
}
