<div class="marker_card" style="background-image: url('<%= image_path poster, height: 300, width: 400, crop: :fill %>')">

<h4><%= user.firstname %> <%= user.lastname %></h4>
<p>Email: <%= user.email %></p>
<p>Score: 25/50</p>
</div>


