
<video autoplay muted loop id="video">
  <source src="public/videos/background.mp4" type="video/mp4">
</video>

<div class="min-height d-flex flex-column text-center justify-content-center align-items-center">
      <h1 data-text="Cassette Caddy" class="display-3" id="splash">Cassette Caddy</h1>
      <%= simple_form_for :title, url: titles_path, :method => :get do |f| %>
        <%= f.input :name, as: :string, label: false %>
        <%= f.submit "Search" %>
      <% end %>
</div>
