<%= render "shared/container" do %>
   <div class="col-sm-8 offset-sm-2">
        <div class="splash d-flex flex-column text-center justify-content-center align-items-center">
              <h1 class="splash_text_large">CASSETTE</h1>
              <h1 class="splash_text_sign" id="splash_text_sign">Caddy</h1>
              <%= simple_form_for :title, url: titles_path, :method => :get do |f| %>
                <%= f.input :name, as: :string, label: false, autofocus: true, class: "form-control"%>
                <%= link_to icon("fas", "dice"), title_random_path, title: "Get a random VHS" %>
              <% end %>
     </div>
  </div>
<% end %>
