
<!-- FIXME : This is supposed to be a fullscreen 720p VHS background fuzz video that I created in Adobe Rush - cannot get it to work FML-->
<%= video_tag "app/assets/videos/background.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "splash_video" %>

<div class="min-height d-flex flex-column text-center justify-content-center align-items-center">
      <h1 data-text="Cassette Caddy" class="display-3" id="splash">Cassette Caddy</h1>
      <%= simple_form_for :title, url: titles_path, :method => :get do |f| %>
        <%= f.input :name, as: :string, label: false %>
        <%= f.submit "Search" %>
      <% end %>
</div>
