<%= render "shared/container" do %>
<div class="text-center">
<h1 class="display-3 flashing">IT'S 1982 SOCIAL MEDIA DOES NOT EXIST</h1>
<iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/ccenFp_3kq8?autoplay=1" allow="autoplay"
  frameborder="0"></iframe>
</div>
<% end %>
