<div class="min-height">
    <div class="container">
      <div class="row">
        <% @title.each do |title| %>
          <div class="col-md-3">
            <%= link_to title_path(title) do %> 
              <div class="index-title" style="background-image: url(<%= image_path title.imdb_poster["poster"]%>)"> 
                <div class="title-icons">
                    <i class="fas fa-check-circle circle-icon"></i>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
</div>





	