<div class="min-height">
    <div class="container">
      <div class="row">
        <% @title.each do |title| %>
          <div class="col-md-3">
            <div class="index-title"><%= image_tag title.imdb_poster["poster"]%> 
              <a> href= <%= title_path(title) %> </a>
                <div class="title-icons">
                  <a>
                    <i class="fas fa-check-circle circle-icon"></i>
                  </a>
                </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>





	