.container {
  display: flex;
}

.poster {
  align-items: left;
  position: sticky;
  top: 0;
}

.detail{
  display: flex;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

