.poster_small {
  height: 70px;
  width: 40px;
}

.mapboxgl-popup-content {
  padding: 0px !important;
  height: 100px !important;
  width: 65px !important;
}

.marker_card {
  background-size: cover;
}
