.navbar-lewagon {
  justify-content: space-between;
  background: $foreground;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  color: $neon;
}

.fa-home{
  color: $neon;
}

.dropdown-background {
  background: $background;
  .dropdown-item{
    color: white;
    &:hover {
      background: $primary;
    }
  }
}

#navbar-search {
  width: 100px;
  padding-left: 30px;
  padding-right: 5px;
  transition: width 500ms;

  &:focus {
    width: 250px;
  }
}

.navbar-search-icon {
  position: relative;
  left: 25px;
  color: $neon;
}
