<div class="footer">

<!-- These are the icons for the footer from fontawesome -->

  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

<!-- This is a nice little comment to fill space and get us started - its taken from the leWagon component library -->
