<nav class="navbar navbar-lewagon navbar-collapse">
  <%= link_to icon("fas", "tape"), root_path, class: "navbar-brand" %>
  <%= link_to icon("fas", "user"), "#" %> <!--TODO: add user_path here-->
</nav>
